/*
 * Dialog
 * The purpose of this stylesheet is to define how dialogs should styled.
 */

/* Main Dialog Element */
dialog {
  border: none;
  width: min(500px, 90%);
  margin: auto;
  z-index: 6;
  animation: fadein 0.3s ease-in;
}

::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

/* Header */
dialog header {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

dialog header h2 {
  font-size: 1.7rem;
  flex: 1;
  margin:0;
}




/* **************************
 * RESPONSIVE MEDIA QUERIES *
 ************************** */

/*
 * DEVICE: Desktops
 * SCREEN: 1281px to higher resolution desktops
 */
 @media (min-width: 1281px) {

 }
 
 
 
 
 
 /*
 * DEVICE: Laptops, Desktops
 * SCREEN: B/w 1025px to 1280px
 */
 @media (min-width: 1025px) and (max-width: 1280px) {

  dialog header h2 {
    font-size: 1.6rem;
  }
 
 }
 
 
 
 
 
 /*
 * DEVICE: Tablets, Ipads
 * SCREEN: B/w 768px to 1024px
 */
 @media (min-width: 768px) and (max-width: 1024px) {

  dialog header h2 {
    font-size: 1.5rem;
  }
 
 }
 
 
 
 
 
 /*
 * DEVICE: Low Resolution Tablets, Mobiles (Landscape)
 * SCREEN: B/w 481px to 767px
 */
 @media (min-width: 481px) and (max-width: 767px) {

  dialog header h2 {
    font-size: 1.5rem;
  }
 
 }
 
 
 
 
 
 /*
 * DEVICE: Most of the Smartphones Mobiles (Portrait)
 * SCREEN: 480px to lower resolution mobiles
 */
 @media (max-width: 480px) {

  dialog header h2 {
    font-size: 1.4rem;
  }

 }